@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100&family=Inter:wght@200;700&family=Nunito+Sans:wght@200&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;500&family=Quicksand:wght@300&family=Ubuntu:wght@500&display=swap');      
*{
  font-family:Quicksand ;
  /* justify-content: space-between; */
   
  
}
#navmain {
  display: flex;
  justify-content: space-around;

  background-color: rgba(253, 243, 243, 0.61);
}
#navsearch {
  width: 45%;
  display: flex;
}
#search {
    border: none;

  width: 480px;

 

  height: 85%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color:white;
}
#nav_btn{ 
   cursor: pointer;
    width: 200%;
    height: 85%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
    color: white;
    padding: 8px;
    font-weight: bold;
}
#navlogin{
cursor: pointer;
}

#navcart {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

#navcat {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#maincat {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-weight: 700;
}
#temp {
  height: 70px;
  background-color: rgba(246, 247, 250, 0.756);
  padding-top: 20px;
}

.navdropdwnbtn{
cursor: pointer;
}

.navdropdwn{
position: relative;
display: inline;
cursor: pointer;
}

.dropdwn-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdwn-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdwn-content a:hover{
  background-color: #ddd;
}

.navdropdwn:hover .dropdwn-content{
  display: block;
}

#signappend{
  display: none;
  position: absolute;
  margin-right: -54%;
  margin-top: -25px;
  animation: right 2s;
  z-index: 1;
}

@keyframes right{
  from{
  transform: translateX(655px);
  }
  to{
    transform: translateX(0);
  }
  }

  body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  
  .sdropcontent{
    border-radius: 10px;
    padding: 10px;
    
    position: absolute;
    height: 200px;
    width: 98%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:white;
    z-index: 1;
    display: none;
  }
  
  #twenty_hr{
  display: flex;
  gap: 15px;
  margin-top: 8px;
  }
  
  #searchpics{
    display: flex;
    justify-content: space-around;
  }
  
  .navdropdwn:hover .sdropcontent{
  display: block;
  }
  
  .picks{
    color: red;
  }

  #counter{
    border: 1px solid grey;
      height: 18px;
      width: 15px;
      text-align: center;
      border-radius: 50%;
      margin-left: -9px;
      position: relative;
      display: none;
  }

  #navlogin{
    display: flex;
    align-items: center;
  }

  a{
    text-decoration: none;
    color: black;
  }

  #cart_count{
    display: contents;
  }