@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100&family=Inter:wght@200;700&family=Nunito+Sans:wght@200&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;500&family=Quicksand:wght@300&family=Ubuntu:wght@500&display=swap');      
*{
  font-family:Quicksand ;
}
#offerhead{
    justify-content: center;
    align-items: center;
   
    height: 70px;
    display: flex;
    font-size: 2rem!important;
    background-color: #f5f5f5;
} 
#offercontent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    justify-items: center;
    padding: 25px;
}
#offercontent img{
   
   border-radius: 10px;
}