@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100&family=Inter:wght@200;700&family=Nunito+Sans:wght@200&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;500&family=Quicksand:wght@300&family=Ubuntu:wght@500&display=swap");
* {
  font-family: Quicksand;
}
#sublogin {
  border: 1px solid royalblue;
  background-image: url(https://in.sugarcosmetics.com/Login_bg.svg);
  height: 900px;
  width: 655px;
  background-position: 50%;
  background-size: cover;
  padding: 25px;
}

#loginbox {
  width: 640px;
  height: 440px;
  background-color: white;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.boxtop {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-left: 30px;
}
.logmob {
  margin-top: 26px;
}
.loginput {
  margin-left: 30px;
  /* border: 1px solid lightseagreen; */
  width: 565px;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
}
.loginput1 {
  width: 28px;
  text-align: center;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(160, 160, 163);
  border-left: none;
  border-image: initial;
  margin: 3px;
  font-weight: 600;
  font-size: 24px;
  outline: none;
}
#requestptp {
  padding: 15px;
  border: none;
  cursor: pointer;
}
.loginsign {
  font-size: 24px;
}
.contrycode {
  font-size: calc(1.275rem + 0.3vw);
  text-align: center;
}
.hrline {
  border: 0.3px solid gray;
  position: relative;
  margin-top: 80px;
  width: 95%;
  margin-left: 10px;
}
.enterotp {
  width: 25px;
}
#verify {
  color: #fff;
  width: 180px;
  margin-left: 3px;
  margin-top: 20px;
  font-size: 14px;
  border: none;
  padding: 10px;
  background-color: #fdaac9;
  cursor: pointer;
}
#otpsection {
  margin-left: 30px;
}
.enterotp {
  width: 30px;
  height: 30px;
}
.whats {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
#logcontent {
  margin-top: 25px;
  /* border: 1px solid hotpink; */
  width: 100%;
  height: 300px;
}
.logp {
  margin: auto;
  /* border: 1px solid darkblue; */
  width: 600px;
  font-size: 15px;
  padding: 25px;
  font-weight: 600;
}
.logp p {
  margin-bottom: 2px !important;
}
#smll {
  display: flex;
  justify-content: center;
}
#headlog {
  font-size: 24px;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
#close {
  color: white;
  cursor: pointer;
}


/* information page */

#fbicon{
  display: flex;
  gap: 5px;
  margin-left: 30px;
}

.infohrline{
  border: 0.3px solid gray;
  position: relative;
  margin-top: 8px;
  width: 95%;
  margin-left: 10px;
}
#infoinput{
  display: flex;
  gap: 5px;
}

.infoname{
  margin-left: 30px;
 
  height: 35px;
width: 180px
}
.infoname input{
  border: none;
  background-color:#f5f5f5;
  width: 100%;
  height: 100%;
}
#infoemail{
  margin-left: 30px;
  height: 35px;
 width: 366px;
  
  margin-top: 10px;
}

#infoemail input{
  border: none;
  width: 100%;
  height: 100%;
  background-color:#f5f5f5;
  
}
#savebtn{
  cursor: pointer;
  margin-left: 30px;
  height: 35px;
 width: 366px;
 background-color: #fdaac9;
 display: flex;
 justify-content: center;
 align-items: center;
  margin-top: 10px;
}
.detail{
  margin-left: 30px;
}